<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><i class="code icon"></i><a href="/"> Blog Site</a>
		</div>
      <a class="item" href="/"><i class="home icon"></i> Home</a>
      <a class="item" href="/blogs/new"><i class="add square icon"></i> New Post</a>
    </div>
  </div>
